:root {
  --dagon-purple: #1D131E;
  --cthulu-green: #2DA400;
  --shaggoth-green: #1a480a;
  --innsmouth-blue: #A3BDE4;
  --nameless-white: #f4f8f5;
}

// Background
$body-bg: rgba(25, 25, 25, 0.8);

// Navbar
$dark: rgba(29, 19, 30, 1);


// Main Color variables
// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;


$primary: yellow;

body, #app, #app>div, #root {
    height: 100%;
}

html {
  font-size: 100%;
}

.nav-font {
  font-family: "CallistoMT";
  //font-size: 18px;
  font-size: 1.125rem;
}

.eldritch-font {
  font-family: 'Grechen Fuemen', cursive;
  //font-size: 75px;
  font-size: 4.688rem;
}

.compendium-title-font {
  font-family: 'Grechen Fuemen', cursive;
  //font-size: 55px -> This is a little bigger
  font-size: 3.7rem;
}

.eldritch-subtitle-font {
  font-family: "CallistoMT";
  font-style: italic;
  //font-size: 22px;
  font-size: 1.375rem;
}

.countup-font {
  //font-size: 38px;
  font-size: 2.375rem;
  font-family: CallistoMT;
  font-style: italic;
}

.compendiums-font {
  font-family: "CallistoMT";
  //font-size: 26px;
  font-size: 1.625rem;
  font-weight: bold;
}

.compendium-note-font {
  font-family: "Goudy Old Style Bold Semi";
  //font-size: 18px;
  font-size: 1.125rem;
}

.subtitle-font {
  font-family: "Goudy Old Style Semi-Expanded";
  //font-size: 26px;
  font-size: 1.625rem;
}

.page-container {
  z-index: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  padding-top: 20px;
}

.homepage-container {
  padding-bottom: 50px;
}

.compendiums-container {
  margin-bottom: 20px;
}

.entrieshead-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10% 50px 10%;
  padding-bottom: 50px;
}

.type-box-container {
  z-index: 4;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding-top: 50px;
  width: 75%;
  height: 800px;
}

.countup-row-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-left: 25px;
}

.backdrop {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 59px;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}

.counter-box {
  background-color: rgba(29,19,30, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  padding: 0 10px 0 10px;
  height: 50px;
  width: 75px;
}

.countup-label {
  color: var(--innsmouth-blue);
  padding-left: 100px;
  min-width: 300px;
}

.homepage-subtitle {
  width: 650px;
  padding-left: 50px;
  color: var(--nameless-white);
}

.compendium-box {
  transition: background-color 0.5s, transform 0.3s;
  border-radius: 9px;
}

.compendium-box:hover {
  background-color: var(--cthulu-green);
  border-radius: 9px;
  transform: translateY(-15px); 
}

@media (min-width: 500px) {
  .entry-grid {
    grid-template-columns: 1fr 1fr;
  }
}



@import '~bootstrap/scss/bootstrap.scss';

